@page
@model NRM.Pages.AdminPanel.ParcelType.IndexModel
@{
    ViewData["Title"] = "Список типов посылок";
}

<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewData["Title"]</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a class="btn btn-sm btn-outline-secondary" asp-page="Create">Добавление типа РПО</a>
            </div>
        </div>
    </div>

    @if (Model.ParcelTypes != null && Model.ParcelTypes.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Тип РПО</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in Model.ParcelTypes)
                {
                    <tr>
                        <td><a asp-page="View" asp-route-id="@type.Id">@type.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Список типов посылок пуст.</p>
    }
</main>