@page
@model NRM.Pages.AdminPanel.Parcel.CreateModel
@inject System.Text.Encodings.Web.JavaScriptEncoder encoder;
@{
    ViewData["Title"] = "Создание посылки";
}

<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewData["Title"]</h1>
    </div>

    <form method="post">
        <div class="form-group">
            <label asp-for="Input.TrackNumber"></label>
            <input class="form-control form-control-sm" asp-for="Input.TrackNumber" />
            <span asp-validation-for="Input.TrackNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.PlaceOfDepartureId"></label>
            <select class="form-control" asp-for="Input.PlaceOfDepartureId" id="select-placeOfDeparture">
            </select>
            <span asp-validation-for="Input.PlaceOfDepartureId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.PlaceOfDeliveryId"></label>
            <select class="form-control" asp-for="Input.PlaceOfDeliveryId" id="select-placeOfDelivery" onchange="selectPlaceChangeValue(this);">
            </select>
            <span asp-validation-for="Input.PlaceOfDeliveryId" class="text-danger"></span>
        </div>

        <div class="form-group d-none" id="divMilitaryUnits">
            <label asp-for="Input.MilitaryUnitId"></label>
            <select class="form-control" asp-for="Input.MilitaryUnitId" id="select-militaryUnits">
            </select>
            <span asp-validation-for="Input.MilitaryUnitId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Sender"></label>
            <input class="form-control form-control-sm" asp-for="Input.Sender" />
            <span asp-validation-for="Input.Sender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Recipient"></label>
            <input class="form-control form-control-sm" asp-for="Input.Recipient" />
            <span asp-validation-for="Input.Recipient" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.TypeId"></label>
            <select class="form-control form-control-sm" asp-for="Input.TypeId" asp-items="Model.Input.TypeItems"></select>
            <span asp-validation-for="Input.TypeId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.DepartureDate"></label>
            <input class="form-control form-control-sm" asp-for="Input.DepartureDate" />
            <span asp-validation-for="Input.DepartureDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.DepartureTime"></label>
            <input class="form-control form-control-sm" asp-for="Input.DepartureTime" />
            <span asp-validation-for="Input.DepartureTime" class="text-danger"></span>
        </div>

        <p>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
        </p>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</main>

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap-5-theme.min.css" asp-append-version="true" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function selectPlaceChangeValue(select)
        {
            parcelId = select.value;

            if (parcelId === undefined) {
                $('#divMilitaryUnits').addClass('d-none');
            }
            else {
                $('#divMilitaryUnits').removeClass('d-none');
            }
        }
    </script>

    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/ru.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/myObjects.js" asp-append-version="true"></script>

    @if (Model.Input.StartItemsPlace.PlaceId != null || Model.Input.StartItemsPlace.Place != null)
    {
        <script type="text/javascript">
            $('#select-placeOfDeparture').append('<option value="@encoder.Encode(Model.Input.StartItemsPlace.PlaceId.ToString())" selected="selected">@encoder.Encode(Model.Input.StartItemsPlace.Place)</option>');
        </script>
    }

}