@page
@model NRM.Pages.AdminPanel.ParcelStatus.IndexModel
@{
    ViewData["Title"] = "Список статусов посылок";
}

<section>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewData["Title"]</h1>
    </div>

    @if (Model.ParcelStatus != null && Model.ParcelStatus.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Статус РПО</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var status in Model.ParcelStatus)
                {
                    <tr>
                        <td><a asp-page="View" asp-route-id="@status.Id">@status.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Список мест пуст.</p>
    }
</section>