@page
@model NRM.Pages.AdminPanel.User.EditModel
@{
    ViewData["Title"] = $"Редактирование пользователя: {Model.Input.Login}";
    @inject System.Text.Encodings.Web.JavaScriptEncoder encoder;
}

<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewData["Title"]</h1>
    </div>

    <form method="post">
        <div class="form-group">
            <label asp-for="Input.LastName"></label>
            <input class="form-control form-control-sm" asp-for="Input.LastName" /><br>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.FirstName"></label>
            <input class="form-control form-control-sm" asp-for="Input.FirstName" /><br>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Patronymic"></label>
            <input class="form-control form-control-sm" asp-for="Input.Patronymic" /><br>
            <span asp-validation-for="Input.Patronymic" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.PhoneNumber"></label>
            <input class="form-control form-control-sm" asp-for="Input.PhoneNumber" /><br>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input class="form-control form-control-sm" asp-for="Input.Email" /><br>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.DeviceID"></label>
            <input class="form-control form-control-sm" asp-for="Input.DeviceID" /><br>
            <span asp-validation-for="Input.DeviceID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.LoginAllowed"></label>
            <select class="form-control form-control-sm" asp-for="Input.LoginAllowed">
                <option value=false>Нет</option>
                <option value=true>Да</option>
            </select><br>
            <span asp-validation-for="Input.LoginAllowed" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.PlaceId"></label>
            <select class="form-control form-control-sm" asp-for="Input.PlaceId" id="select-places" ></select><br>
            <span asp-validation-for="Input.PlaceId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.RoleId"></label>
            <select class="form-control form-control-sm" asp-for="Input.RoleId" asp-items="Model.Input.RoleItems"></select><br>
            <span asp-validation-for="Input.RoleId" class="text-danger"></span>
        </div>

        <p>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </div>
        </p>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</main>

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap-5-theme.min.css" asp-append-version="true" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/ru.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/myObjects.js"></script>

    @if(Model.Input.StartPlace != null)
    {
        <script>
            $('#select-places').append('<option value="@encoder.Encode(Model.Input.StartPlace.Id.ToString())" selected="selected">@encoder.Encode(Model.Input.StartPlace.Name)</option>');
            $('#select-places').trigger('change');
        </script>
    }
}