@page
@model NRM.Pages.AdminPanel.User.IndexModel
@{
    ViewData["Title"] = "Список пользователей";
}

<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewData["Title"]</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a class="btn btn-sm btn-outline-secondary" asp-page="Create">Добавление пользователя</a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Логин пользователя</th>
                <th>ФИО</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td><a asp-page="View" asp-route-id="@user.Id">@user.Login</a></td>
                    <td>@user.FullName</td>
                </tr>
            }
        </tbody>
    </table>
</main>